apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: week3-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/techngi/devops-lab.git
    targetRevision: dev
    path: project-week3-app/helm/week3-app
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: devops-week5
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m
